body {
    background: linear-gradient(180deg, rgba(105,29,83,1) 0%, rgba(34,34,34,1) 100%);
    color: #fff;
    width: 100%;
    height: 100vh;
    place-items: center;
    display: grid;
}

.message-error{
    background-color:  rgba(255, 0, 0, 0.140);
    border: 1px solid #dc3545;
    border-radius: 10px;
    width: 150px;
    color: #dc3545;
    text-align: center;
    line-height: 10vh;
    margin: 0 auto;
    margin-top: 10px;
}

.list-task {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #555;
}

.btn {
    margin-left: auto;
    margin-right: 10%;
}

.list-task::-webkit-scrollbar {
    width: 8px;
}

.list-task::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px;
}

.list-task::-webkit-scrollbar-track {
    background: #333; 
    border-radius: 4px;
}

input:focus {
    color: #fff !important;
}

.item-task{
    position: relative;
    bottom: -40px;
    left: -17%;
}